<h1>Queries list</h1>
<ul>
  <li><%= link_to "Average weight differs", average_difference_path %></li>
  <li><%= link_to "Count statistics", count_stats_path %></li>
  <li><%= link_to "Are there two passengers with almost the same carriage?", same_weights_path %></li>
</ul>
<%= link_to "Main", root_path %>