<div class="container">
  <h1>Task c</h1>

  <h2>Is there two passengers with the same count of items and but weights differ not more than 0.5 kg:
    <span style="text-decoration: underline"> <%=@answer %></span></h2>

  <h3>
    <%= link_to "To query list", queriesList_path %>
    <%= link_to "Main", root_path %>
  </h3>
</div>
